---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
import quotes from "../../public/quotes.json";

interface Quote {
  text: string;
  author: string;
}

const typedQuotes: Quote[] = quotes as Quote[];
const randomQuote = typedQuotes[Math.floor(Math.random() * typedQuotes.length)];
---
<div class="max-h-screen w-screen flex items-start bg-black overflow-hidden">
    <Navbar />
    <div class="w-full h-screen px-[2vh] py-[1vh]">
        <div class="w-full flex items-center">
            <div>
                <p class="text-white font-extrabold font-sans text-[4vh]">
                    Drive V3
                </p>
                <p class="text-white font-normal text-[1.8vh]">
                    &OpenCurlyDoubleQuote;<em>{randomQuote.text}</em>&CloseCurlyDoubleQuote; — {randomQuote.author}
                </p>
            </div>
            <div class="flex-grow"/>
            <a class="text-blue-500 font-semibold hover:underline cursor-pointer" href="https://github.com/shakirth-anisha">
                Designed by Anisha
            </a>
        </div>
        <div class="w-1/2 bg-black flex space-x-[1.5vh] mt-[1vh]">
            <div class="w-1/3 bg-[#161717] h-[15vh] rounded-[1.5vh] overflow-hidden">
                <div class="w-full h-[0.5vh] bg-blue-500"></div>
                <h1>hello</h1>
            </div>
            <div class="w-1/3 bg-[#161717] h-[15vh] rounded-[1.5vh] overflow-hidden">
                <div class="w-full h-[0.5vh] bg-purple-700 "></div>
                <h1>hello</h1>
            </div>
            <div class="w-1/3 bg-[#161717] h-[15vh] rounded-[1.5vh] overflow-hidden">
                <div class="w-full h-[0.5vh] bg-green-600"></div>
                <h1>hello</h1>
            </div>
        </div>
    </div>
<div> 