<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/anga.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>HomePage | DriveV3</title>
	</head>
	<body>
		<slot />
	</body>
</html>